@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.background {
    background-image: url(../img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    padding-top: 60%;
    bottom: 0;
}

.cat {
    width: 28%;
    position: absolute;
    left: 36.25%;
    bottom: 0;
    -webkit-animation: cat-appear 3s ease forwards ;
    animation: cat-appear 3s ease forwards ;
}

@-webkit-keyframes cat-appear {
    
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    
    100% {
        -webkit-transform: translate(42%,-33%) rotate(20deg);
    }
 
}

@keyframes cat-appear {
    
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    
    100% {
        transform: translate(42%,-33%) rotate(20deg);
    }
 
}

.steam {
    width: 4%;
    position: relative;
    bottom: 0;
    left: 11%;
    -webkit-animation: steam 2s ease-in-out infinite alternate;
    animation: steam 2s ease-in-out infinite alternate;
}

@-webkit-keyframes steam {
    
    0% {
        -webkit-transform: translate(0,-160%);
    }
    
    100% {
        -webkit-transform: translate(0,-230%);
    }
}

@keyframes steam {
    
    0% {
        transform: translate(0,-160%);
    }
    
    100% {
        transform: translate(0,-230%);
    }
}

.foreground {
    position: absolute;
    width: 100%;
    bottom: 0;
}


.clock {
    position: absolute;
    top: 20px;
    left: calc(50% - 65px);
    
}
.clock-face {
    height: 150px;
    width: 150px;
    background-image: url(../img/clock-face.svg);
    position: relative;
    
}

.clock:hover .hand-hour {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.clock-face:hover .hand-minute {
    -webkit-transform: rotate(4320deg);
    transform: rotate(4320deg);
}

.hand {
    width: 18px;
    position: absolute;
    left: calc(50% - 9px);
    bottom: 50%;
    transition: all 6s linear;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
}

.center {
    width: 20px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}

h1 {
    color: orange;
    text-align: center;
    font-family: sans-serif;
}
