@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #C7E9F5;
}

.banner-wrap {
    max-width: 650px;
    margin: 0 auto;
}

.background {
    background-image: url(../img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 55%;
    bottom: 0;
}

.cat {
    width: 28%;
    position: absolute;
    left: 36.25%;
    bottom: 0;
    -webkit-animation: cat-appear 3s ease forwards ;
    animation: cat-appear 3s ease forwards ;
}

@-webkit-keyframes cat-appear {
    
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    
    100% {
        -webkit-transform: translate(42%,-18%) rotate(20deg);
    }
 
}

@keyframes cat-appear {
    
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    
    100% {
        transform: translate(42%,-21%) rotate(20deg);
    }
 
}

.steam {
    width: 4%;
    position: relative;
    bottom: 0;
    left: 11%;
    -webkit-animation: steam 2s ease-in-out infinite alternate;
    animation: steam 2s ease-in-out infinite alternate;
}

@-webkit-keyframes steam {
    
    0% {
        -webkit-transform: translate(0,-100%);
    }
    
    100% {
        -webkit-transform: translate(0,-190%);
    }
}

@keyframes steam {
    
    0% {
        transform: translate(0,-160%);
    }
    
    100% {
        transform: translate(0,-230%);
    }
}

.foreground {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.foreground img {
    display: block;
    position: relative;
}

.navigation {
    background-color: white;
    width: 100vw;
    margin: 0;
    padding-top: 20%;
    padding-right: 90%;
    top: 0;
    z-index: 1000;
    overflow: hidden;
}

.nav-bars {
    height: 250px;
}

.nav li {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: black;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    color: orange;
}

a {
    text-decoration: none;
    text-align: right;
    padding-right: 20%;
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 100;
}


.logo {
    width: 240px;
    padding-top: 10px;
    padding-left: 50px;
}

.toggle {
    position: absolute;
    right: 5%;
    top: 25px;
    width: 50px;
}

.panel {
    max-height: 0; 
    overflow: hidden;
  	transition: all 400ms linear;
}

.nav {
    list-style-type: none;
    background-color: white;
    color: orange;
}

.js-panel-open {
    max-height: 10em;
}
    

.header {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 3em;
    top: 0;
    z-index: 1000;
    overflow: hidden;
}


@media only screen and (min-width: 25em) {
	


@media only screen and (min-width: 38em) {
     


@media only screen and (min-width: 60em) {




}
